.nav-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}
.navbar-brand {
    font-weight: 500;
    font-size: 2rem;
}
.btn, .card-body {
    box-shadow: .3rem .3rem 0rem rgba(0,0,0,.2)!important;
}
.btn {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
}
.btn svg {
    width: 1.3rem;
}
.btn > span {
    display: flex;
    margin-left: .35rem;
}
.card {
    border: 0;
    margin: .8rem 0;
}
.card-body {
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: inherit;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card-title {
    font-size: 1.2rem !important;
}
.delete-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1rem;
    cursor: pointer;
}
.loading-wrapper, .error-wrapper, .info-wrapper {
    height: 20vh;
}